:root {
  --primary-color: #3891bc;
  --bright-primary-color: #40a4d6;
  --secondary-color: #2b7a78;
  --tertiary-color: #3aafa9;
  --quaternary-color: #feffff;
  --dark-tertiary: #def2f1;
}

* {
  transition: background-color 0.5s, color 0.5s;
}

.theme-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.icon-circle {
  border-radius: 50%;
  padding: 10px;
  border: 2px solid var(--quaternary-color);
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#home {
  height: 100vh;
}

@media (max-height: 680px) {
  #home {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  width: 100%;
  position: fixed;
  min-height: 80px;
  display: flex;
  background: white;
  transition: box-shadow 0.5s ease-in-out;
  z-index: 100;
}

.landing-page header.scrolling-active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .landing-page header {
    position: relative;
    min-height: auto;
    display: initial;
  }
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .container {
    padding: 20px;
    flex-direction: row;
  }

  .landing-page header .container .links {
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.landing-page header .logo {
  color: black;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5em;
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px
  }

  .landing-page .content .image img {
    max-width: 100%;
    width: 350px;
  }
}

.landing-page header .links {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
    margin-left: -20px;
  }
}

.landing-page header .links li a {
  font-size: 1.2em;
  margin-left: 30px;
  color: black;
  text-decoration: underline 2px solid var(--primary-color);
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}

.landing-page header .links li:hover {
  color: var(--primary-color);
}

.landing-page .content .info h1 {
  font-weight: bold;
  font-size: 44px;
  text-decoration: underline 5px solid var(--tertiary-color);
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 20px;
  cursor: pointer;
  color: #FFF;
  background-color: var(--tertiary-color);
}

.landing-page .content h4 {
  margin-top: 50px;
  text-align: left;
  color: grey;
}

.landing-page .content .image img {
  max-width: 100%;
  transition: width 2s;
}

.app-button {
  box-sizing: border-box;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--quaternary-color);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.app-button:hover {
  background-color: var(--dark-tertiary);
  transition: 1s;
}

.app-link-button {
  margin: 10px;
  padding: 10px 30px;
  width: 15%;
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--quaternary-color);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.app-link-button2 {
  margin: 10px;
  padding: 10px 30px;
  width: 15%;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: var(--primary-color);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.app-link-button:hover {
  background-color: var(--dark-tertiary);
  transition: 1s;
}

.app-link-button2:hover {
  background-color: var(--bright-primary-color);
  transition: 1s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

@media (max-width: 767px) {
  .buttons {
    justify-content: center;
  }

  .landing-page .content h4 {
    text-align: center;
  }
}

.app-google-sign-in-button {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.app-google-sign-in-button img {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
  width: auto;
}

.app-google-sign-in-button:hover {
  background-color: black;
  color: white;
}

.app-google-sign-in-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.app-github-sign-in-button {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.app-github-sign-in-button img {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
  width: auto;
  transition: filter 0.3s ease;
}

.app-github-sign-in-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: black;
  color: white;
}

.app-github-sign-in-button:hover img {
  filter: invert(1);
}

.app-github-sign-in-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}


/* End Landing Page */


/* Start About Page */

#about {
  background-color: var(--dark-tertiary);
  height: 100vh;
}

#about .wrapper .picture .image img {
  max-width: 100%;
  transition: width 2s;
  border-radius: 10px;
}

@media (max-width: 767px) {
  #about .wrapper .picture .image img {
    max-width: 100%;
    width: 350px;
  }

  #home .background img {
    display: none;
  }
}

@media (max-height: 500px) {
  #about .wrapper .picture .image img {
    max-height: 500px;
  }
}

#about .wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  height: calc(100vh - 0px);
}

/* Small */
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

@media (max-width:768px) {
  #about .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 0;
    min-height: 0;
    height: calc(100vh - 200px);
    margin-top: 100px;
  }
}

.about-header {
  text-decoration: underline 2px solid var(--primary-color);
  font-size: 1.2em;
}

.blue {
  color: var(--primary-color);
}

h2 {
  font-size: 2em;
  font-weight: bold;
}





.site-footer {
  background-color: var(--secondary-color);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: var(--dark-tertiary);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #fff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--dark-tertiary);
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

@media (max-height:530px) {
  .site-footer {
    display: none;
  }
}

.headLine {
  font-size: 2em;
  font-weight: bold;
}

.right {
  padding: 20px;
  position: absolute;
  right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (max-width:1400px) {
  .right {
    background-color: none;
    background: none;
    border: none;
    box-shadow: none;
    padding-top: 200px;
    right: 10;
  }

  .note {
    display: none;
  }
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#home .pin img {
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

#home .background {
  position: absolute;
  top: 100px;
  opacity: 0.2;
  z-index: -10;
}

#home .background img {
  width: 700px;
  height: 700px;
  margin-left: -90%;
}

@media (max-width:1200px) {
  .right {
    position: relative;
    padding-top: 0px;
    right: 0;
  }

  body {
    overflow-y: auto;
  }

  .app-container {
    height: auto;
  }

  #home .pin img {
    margin-top: 100px;
  }
}


.post-it {
  display: table;
  margin: 5em auto 0;
}

.sticky {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
  color: var(--quaternary-color);
  text-align: center;
  margin: 2.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 250px;
  font-family: 'Indie Flower', cursive;
  font-family: 'Give You Glory', cursive;
  font-family: 'The Girl Next Door', cursive;
  font-family: 'Gloria Hallelujah', cursive;
}

.taped {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sticky.taped:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
}

.note {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: var(--secondary-color);
  border-color: var(--tertiary-color);
  color: #fff;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 250px;
  font-family: 'The Girl Next Door', cursive;
  /*originally with brain flower font*/
  font-size: 1em;
}

.note:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
}


@media (max-height:700px) {
  #home .pin {
    margin-top: 100px;
  }
}

@media (max-height:600px) {
  #home .pin {
    margin-top: 200px;
  }
}

@media (max-height:500px) {
  #home {
    height: 100%;
    margin-top: -250px;
  }
}

@media (max-height:470px) {
  #home .pin {
    margin-top: 300px;
  }
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.ideas-container {
  position: relative;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

@media (max-width: 843px) {
  .ideas-container {
    top: -60px;
    border: 2px solid var(--bright-primary-color);
    border-radius: 20px;
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 641px) {
  .ideas-container {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 641px) {
  .ideas-container {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 520px) {
  .ideas-container {
    width: 400px;
    height: 500px;
  }
}

@media (max-width: 418px) {
  .ideas-container {
    width: 300px;
    height: 500px;
  }
}

@media (max-width: 330px) {
  .ideas-container {
    width: 200px;
    height: 500px;
  }
}

.idea-box {
  background: var(--bright-primary-color);
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.digitInputContainer {
  display: flex;
  justify-content: space-between;
}

.digitInputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.digitInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  margin: 0 1rem;
  text-align: center;
  padding: 0.25rem 0;
}

.digitInput::placeholder {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.digitInput:focus {
  outline: none;
  border-bottom: 3px solid #767676;
}

.input-box {
  position: relative;
}

.input-box {
  width: 300px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

@media (max-width: 992px) {
  .input-box {
    width: 200px;
  }
}

.input-box:focus {
  border-color: #000000;
}

.submit-idea {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border: none;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.add-note-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 70px;
  background: var(--dark-tertiary);
  opacity: 0.8;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.add-note-container:hover {
  opacity: 1;
}

@media (max-width: 651px) {
  .add-note-container {
    padding-bottom: 20px;
  }

  .submit-idea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px -10px;
    transform: translateX(50%);
  }
}

.background-container {
  position: fixed;
  bottom: 0;
  background: var(--dark-tertiary);
  width: 120%;
  height: 20%;
  transform: translateX(-50%);
}

.post-it {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.content,
.submitter,
.submitter-email {
  color: #333;
  margin-bottom: 10px;
}

.submitter,
.submitter-email {
  font-size: 0.9em;
  color: #666;
}

.overview {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

